:host {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 100%;

  @media (max-width: 1400px) {
    flex-direction: column;
  }
}

.warning {
  display: none;

  @media only screen and (max-width: 1400px) {
    display: flex;
    padding: 0.5rem;
    background-color: #ffffffda;
    font-size: 1rem;
    font-family: 'Press Start 2P';
    position: absolute;
    top: 0;
    padding-left: 8vw;
    z-index: 99999;
    padding-right: 8vw;
  }
}
